body{
    background-color: lightgrey;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    margin: 0;
}

nav{
    background-color: black;
}

a{
    color: white;
    font-size: 18pt;
    text-decoration: none;
}